//- nav.navbar.navbar-dark.bg-dark
//-   a(style='color:lightgrey').navbar-brand Tournament
//-   form.form-inline
//-     if isLogin
//-       button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
//-         a(href='users/logout')
//-     else
//-       button.btn.btn-outline-success.my-2.my-sm-0(type='submit')
//-         a(href='users/login') Login
//-       button.btn.btn-outline-success.my-2.my-sm-0(type='submit') 
//-         a(href='users/register') Registration
doctype html
html
	head
		title= title
		link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css")
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js')

	body
		// Navigation Bar with required
		nav.navbar.navbar-dark.bg-primary.navbar-expand-lg
			div.container-fluid
				div.navbar-header
					a.navbar-brand(href='/') Tournament Web
				ul.nav.navbar-nav
					if isLogin
						li.nav-item
							a.nav-link(href='/users/logout') Logout
					else
						li.nav-item
							a.nav-link(href='/users/login') Login
						li.nav-item
							a.nav-link(href='/users/register') Register
	div
		br