extends ../layout

block content
	html
		head
			script(src='../javascripts/javascript.js')
		body
			h1 Round-1
			p Choose the winner of bout
			h2 Bout-1
			button(onclick='displayPlayer()') player-1
			button(onclick='displayPlayer1()') player-2
			p#player1
			h2 Bout-2
			button(onclick='displayPlayer2()') player-1
			button(onclick='displayPlayer3()') player-2
			p#player2
			h2 Bout-3
			button(onclick='displayPlayer4()') player-1
			button(onclick='displayPlayer5()') player-2
			p#player3
			h2 Bout-4
			button(onclick='displayPlayer6()') player-1
			button(onclick='displayPlayer7()') player-2
			p#player4
			button
				a(href='/round2') Let's Move to Round-2