extends ../layout

block content
    form.form
        .row Bout-1
            .col#player1 Player-1
                input.form-control(type='text', placeholder='Name')
            .col#player2 Player-2 (Against player)
                input.form-control(type='text', placeholder=' Name')
        .row Bout-2
            .col#player3 Player-1
                input.form-control(type='text', placeholder='Name')
            .col#player4 Player-2 (Against player)
                input.form-control(type='text', placeholder='Name')
        .row Bout-3
            .col#player5 Player-1
                input.form-control(type='text', placeholder='Name')
            .col#player6 Player-2 (Against player)
                input.form-control(type='text', placeholder='Name')
        .row Bout-4
            .col#player7 Player-1
                input.form-control(type='text', placeholder='Name')
            .col#player8 Player-2 (Against player)
                input.form-control(type='text', placeholder='Name')
        button
            a(href='/round1') Let's get started