extends ../layout

block content
    h1 Let's Create An Ad
    form.form
        .form-group
            label(for='exampleFormControlInput1') Stuff name
            input.form-control(type='text', placeholder='NAME OF Stuff', name='stuff')
        .form-group
            label(for='exampleFormControlTextarea1') Discription
            textarea#exampleFormControlTextarea1.form-control(rows='3', name='discription')
        button
            a(href='/player') Lets Sell

